.select-timezone {
    padding-block: 8px;
    padding-inline: 6px;
}

.form-add-timezone {
    text-align: center;
}

.add-timezone-btn {
    background-color: blue;
    border-radius: 6px;
    font-weight: 500;
    color: white;
}

.add-timezone-btn:hover {
    color: blue;
    background-color: white;
    border: 1px solid blue;
}