body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header.dark-mode {
  background-color: #333;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 6px;
}

button:hover {
  background-color: #ddd;
  color: green;
  border: 1px solid green;
}
